*{
    margin: 0;
    padding: 0;
    font-style: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    
}
html{
    padding: 0px 10px;
    background-color: black;
    text-align: center;
}
.header{
    font-size: 100px;
    font-weight: bolder;
    color: #fff500;
    margin: 20px;
}
.person{
    margin: 25px;
    padding: 20px 100px;
    margin: 20px 100px;
    display: flex;
    background: linear-gradient(rgb(0, 0, 0),#ffd500cc); 
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 12vw;
    border: 3px solid;
    border-color: rgb(255, 250, 107,0.4);
    border-radius: 40px;
}
.person:hover{
    background: linear-gradient(rgba(0,0,0,0.6),#fff000);
    color: #fff;
    transition: background 0.3s;
    box-shadow: 0 5px 10px rgb(255, 249, 135);
}

.circle{  
    flex-basis: 30%;
    text-align: center;
}
.person .details{
    padding: 10px 50px;
    flex-basis: 60%;
    justify-content: center;
    text-align: center;
    justify-items: center;
    color: #000;
    transition: transform 0.3s;
    
}
.person:hover .details{
    color: #fff;
    transform: scale(1.05);
}
.name{  
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.person img{
    height: 40vh;
    border: #fff 10px solid;
    border-radius: 50%;
    transition: transform 0.3s;
    box-shadow: 0 8px 16px rgba(255, 242, 0, 0.22);
}
.person:hover img{
    transform: scale(1.05);
}
.footer{
    padding: 3%;
    background-color: #262626;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}