/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height:10vh;
  background-color: #ffd500cc;
  color: #262626;
  text-align: center;
  padding: 3vh;
}
header:hover{
  background-color: #fff000;
  color: #000;
  transition: background 0.2s;
}

header a{
  text-decoration: none;
  color: #232025;
  font-size: 4vh;
  font-weight: bold;
}
body {
  font-family: Arial, sans-serif;
  background-color: #262626;
  color: white
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  font-size: 10vh;
  color: #ffd500;
  font-weight: bold;
  margin: 10px;
}

.para, .para1 {
  color: #ffd500;
}


.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.course {
  color: black;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 45vh;
  height: auto;
  min-height: 40vh;
  background-color: #ffd500cc; 
  transition: transform 0.3s;
  
}
.course:hover{
  background-color: #fff000;
  color: #000;
  transition: background 0.3s;
  box-shadow: 0 8px 16px rgb(255, 249, 135);
  transform: scale(1.01);
}

.course img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.course-details {
  padding: 20px;
}

.course-details h3 {
  min-height: 6vh;
  font-size: 20px;
  margin-bottom: 10px;
}

.course-details p {
  margin-bottom: 8px;
}

.register-btn, .delete-btn {
  background-color: #454545;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: fit-content;
  border: 2px solid #545454;
  padding: 10px 40px;
  font-family: 'Quantico', sans-serif;
  transition: background 0.5s;
}

.register-btn:hover, .delete-btn:hover{
  background: #000000;
  transform: scale(1.05);
}
.vend-btn{
  background-color: #ffd500cc;
  border-radius:1vh;
  font-size: x-large;
  color: black;
  text-decoration: none;
  width: fit-content;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 1vh 4vw;
  margin-bottom: 2vh;
  margin-left: 5vw;
  font-family: 'Quantico', sans-serif;
  transition: background 0.5s;
  
}

.vend-btn:hover{
  background: #fff000;
  transform: scale(1.05);
}
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  bottom: 0;
}

#total-cost-container h2{
  color: #ffd500;
  margin-top: 8vh;
  display: flex;
}
